header{
    width:100%;
    position:fixed;
    top:0px;
    border-bottom:1px solid #CCC;
    background:#fff;
}

.header{
    height: 77px;
    width: 960px;
    margin:0px auto;
}

.header h1{
    margin: 20px 20px;
    display: inline-block;
}

.header #login{
    float: right;
    line-height: 77px;
}
.header .search{
    position: relative;
    width: 330px;
    display: inline-block;
}
.header input[type="text"]{
    width: 100%;
}

.header .search #searchResults{
    position: absolute;
    left: 0;
    background: #fff;
    border: solid 1px #000;
    width: 100%;
    height: 300px;
}

.header .search #searchResults li{
    margin: 10px 0;
    padding: 10px 10px;
    border-bottom: solid 1px #ccc;
}

.header .search #searchResults.loseFocus{
    display: none;
}
.header .search #searchResults.focus{
    display: block;
}

.header #loggedIn{
    display: inline-block;
    margin: 10px 10px;
}
.header #loggedIn span{
    padding: 10px 10px;
}


