.content .photos #photo-list{
    display: flex;
    flex-wrap: wrap;
}

.content .photos #photo-list li{
    width: 300px;
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.content .photos #photo-list li div{
    text-align: center;
    cursor: pointer;
}


.content .photos #photo-list li div img{
    width: 100%;
}
