#photo-detail .comments{
    width: 500px;
    margin: 0 auto;
    border: solid 1px #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#photo-detail .comment{
    border-bottom: 1px solid #ccc;
    width: 90%;
    margin: 10px auto;
    padding: 10px 0;
}

#photo-detail .comment p:last-child{
    width: 80%;
    margin: 0 auto;
}

#photo-detail .comment:last-child{
    border-bottom: none;
    padding: 5px 5px 15px 5px;
}

#photo-detail .comment input[type="text"]{
    width: 100%;
}

#photo-detail .user-like{
    color: green;
}